In [1]:
import pandas as pd
import csv , json
import requests as R
from bs4 import BeautifulSoup as B

In [2]:
def Get_FX_Factory_data(url) :
    with open("FX_Factory_Data.csv" , "w+") as f :
        writer = csv.DictWriter( f , fieldnames=["position" , "Team_Name" ,"Points"])
        writer.writeheader()
        res = R.get(url)
        soup = B(res.text , "html.parser")
        position = soup.find_all("td" , attrs = {"class" : "pos"})
        Name = soup.find_all("td" , attrs = {"class" : "team"})
        point = soup.find_all("td" , attrs = {"class" : "points"})
        for pos in position :
            team_posision = pos.find("span" , attrs = {"class" :"value"}).get_text()
            print(f"The Team Posision :: {team_posision}\n==============")
            
        for N in Name :
            team_name = N.get_text().strip()
            #team_points = pt.find("td" , attrs = {"class" :"points"}).get_text()
            print(f"The Team Name :: {team_name}\n==============")
            
        for pt in point :
            team_points = pt.get_text()
            #team_points = pt.find("td" , attrs = {"class" :"points"}).get_text()
            print(f"The Team points :: {team_points}\n==============")


Get_FX_Factory_data("https://www.premierleague.com/")

The Team Posision :: 1
==============
The Team Posision :: 2
==============
The Team Posision :: 3
==============
The Team Posision :: 4
==============
The Team Posision :: 5
==============
The Team Posision :: 6
==============
The Team Posision :: 7
==============
The Team Posision :: 8
==============
The Team Posision :: 9
==============
The Team Posision :: 10
==============
The Team Posision :: 11
==============
The Team Posision :: 12
==============
The Team Posision :: 13
==============
The Team Posision :: 14
==============
The Team Posision :: 15
==============
The Team Posision :: 16
==============
The Team Posision :: 17
==============
The Team Posision :: 18
==============
The Team Posision :: 19
==============
The Team Posision :: 20
==============
The Team Name :: Arsenal
==============
The Team Name :: Man City
==============
The Team Name :: Spurs
==============
The Team Name :: Chelsea
==============
The Team Name :: Man Utd
==============
The Team Name :: Newcastle
==============
The Team Name :: Brighton
==============
The Team Name :: Bournemouth
==============
The Team Name :: Fulham
==============
The Team Name :: Liverpool
==============
The Team Name :: Brentford
==============
The Team Name :: Everton
==============
The Team Name :: West Ham
==============
The Team Name :: Leeds
==============
The Team Name :: Crystal Palace
==============
The Team Name :: Aston Villa
==============
The Team Name :: Southampton
==============
The Team Name :: Wolves
==============
The Team Name :: Nott'm Forest
==============
The Team Name :: Leicester
==============
The Team points :: 24
==============
The Team points :: 23
==============
The Team points :: 20
==============
The Team points :: 16
==============
The Team points :: 15
==============
The Team points :: 14
==============
The Team points :: 14
==============
The Team points :: 12
==============
The Team points :: 11
==============
The Team points :: 10
==============
The Team points :: 10
==============
The Team points :: 10
==============
The Team points :: 10
==============
The Team points :: 9
==============
The Team points :: 9
==============
The Team points :: 9
==============
The Team points :: 7
==============
The Team points :: 6
==============
The Team points :: 5
==============
The Team points :: 4
==============

In [3]:

def AAGet_FX_Factory_data(url) :
    with open("FX_Factory_Data.csv" , "w+") as f :
        writer = csv.DictWriter( f , fieldnames=["position" , "Team_Name" ,"Points"])
        writer.writeheader()
        res = R.get(url)
        soup = B(res.text , "html.parser")
        position = soup.find_all("td" , attrs = {"class" : "pos button-tooltip"})
        Name = soup.find_all("td" , attrs = {"class" : "team"})
        point = soup.find_all("td" , attrs = {"class" : "points"})
        Next_Matcch = soup.find_all("span" , attrs = {"class" : "nextMatch"})
        for pos in position :
            team_posision = pos.find("span" , attrs = {"class" :"value"}).get_text()
            print(f"The Team Posision :: {team_posision}\n==============")
            
        for N in Name :
            team_name = N.find("span" ,  attrs = {"class" : "long"}).get_text().strip()
            #team_points = pt.find("td" , attrs = {"class" :"points"}).get_text()
            print(f"The Team Name :: {team_name}\n==============")
            
        for pt in point :
            team_points = pt.get_text()
            #team_points = pt.find("td" , attrs = {"class" :"points"}).get_text() visuallyHidden
            print(f"The Team points :: {team_points}\n==============")
        for Next in Next_Matcch :
            team_Next = Next.find("span" , attrs = {"class" : "visuallyHidden"}).get_text()
            #team_points = pt.find("td" , attrs = {"class" :"points"}).get_text() visuallyHidden
            print(f"The Team Next :: {team_Next}\n==============")


AAGet_FX_Factory_data("https://www.premierleague.com/tables")

The Team Posision :: 1
==============
The Team Posision :: 2
==============
The Team Posision :: 3
==============
The Team Posision :: 4
==============
The Team Posision :: 5
==============
The Team Posision :: 6
==============
The Team Posision :: 7
==============
The Team Posision :: 8
==============
The Team Posision :: 9
==============
The Team Posision :: 10
==============
The Team Posision :: 11
==============
The Team Posision :: 12
==============
The Team Posision :: 13
==============
The Team Posision :: 14
==============
The Team Posision :: 15
==============
The Team Posision :: 16
==============
The Team Posision :: 17
==============
The Team Posision :: 18
==============
The Team Posision :: 19
==============
The Team Posision :: 20
==============
The Team Posision :: 1
==============
The Team Posision :: 2
==============
The Team Posision :: 3
==============
The Team Posision :: 4
==============
The Team Posision :: 5
==============
The Team Posision :: 6
==============
The Team Posision :: 7
==============
The Team Posision :: 8
==============
The Team Posision :: 9
==============
The Team Posision :: 10
==============
The Team Posision :: 11
==============
The Team Posision :: 12
==============
The Team Posision :: 13
==============
The Team Posision :: 14
==============
The Team Name :: Arsenal
==============
The Team Name :: Manchester City
==============
The Team Name :: Tottenham Hotspur
==============
The Team Name :: Chelsea
==============
The Team Name :: Manchester United
==============
The Team Name :: Newcastle United
==============
The Team Name :: Brighton and Hove Albion
==============
The Team Name :: Bournemouth
==============
The Team Name :: Fulham
==============
The Team Name :: Liverpool
==============
The Team Name :: Brentford
==============
The Team Name :: Everton
==============
The Team Name :: West Ham United
==============
The Team Name :: Leeds United
==============
The Team Name :: Crystal Palace
==============
The Team Name :: Aston Villa
==============
The Team Name :: Southampton
==============
The Team Name :: Wolverhampton Wanderers
==============
The Team Name :: Nottingham Forest
==============
The Team Name :: Leicester City
==============
The Team Name :: Manchester City
==============
The Team Name :: West Ham United
==============
The Team Name :: Arsenal
==============
The Team Name :: Liverpool
==============
The Team Name :: Crystal Palace
==============
The Team Name :: Manchester United
==============
The Team Name :: Tottenham Hotspur
==============
The Team Name :: Leicester City
==============
The Team Name :: Blackburn Rovers
==============
The Team Name :: Brighton and Hove Albion
==============
The Team Name :: Everton
==============
The Team Name :: Chelsea
==============
The Team Name :: Leeds United
==============
The Team Name :: Derby County
==============
The Team Name :: Manchester City
==============
The Team Name :: Liverpool
==============
The Team Name :: Manchester United
==============
The Team Name :: Nottingham Forest
==============
The Team Name :: Blackburn Rovers
==============
The Team Name :: Middlesbrough
==============
The Team Name :: Burnley
==============
The Team Name :: Wolverhampton Wanderers
==============
The Team Name :: Leeds United
==============
The Team Name :: Everton
==============
The Team Name :: Sunderland
==============
The Team Name :: Derby County
==============
The Team Name :: Stoke City
==============
The Team Name :: Newcastle United
==============
The Team Name :: Southampton
==============
The Team Name :: West Ham United
==============
The Team Name :: Crystal Palace
==============
The Team Name :: Arsenal
==============
The Team Name :: Leicester City
==============
The Team Name :: Fulham
==============
The Team Name :: Chelsea
==============
The Team Name :: Brighton and Hove Albion
==============
The Team Name :: Tottenham Hotspur
==============
The Team Name :: West Bromwich Albion
==============
The Team Name :: Reading
==============
The Team Name :: Aston Villa
==============
The Team Name :: Birmingham City
==============
The Team Name :: Norwich City
==============
The Team points :: 24
==============
The Team points :: 23
==============
The Team points :: 20
==============
The Team points :: 16
==============
The Team points :: 15
==============
The Team points :: 14
==============
The Team points :: 14
==============
The Team points :: 12
==============
The Team points :: 11
==============
The Team points :: 10
==============
The Team points :: 10
==============
The Team points :: 10
==============
The Team points :: 10
==============
The Team points :: 9
==============
The Team points :: 9
==============
The Team points :: 9
==============
The Team points :: 7
==============
The Team points :: 6
==============
The Team points :: 5
==============
The Team points :: 4
==============
The Team points :: 54
==============
The Team points :: 48
==============
The Team points :: 41
==============
The Team points :: 40
==============
The Team points :: 39
==============
The Team points :: 39
==============
The Team points :: 37
==============
The Team points :: 37
==============
The Team points :: 35
==============
The Team points :: 34
==============
The Team points :: 29
==============
The Team points :: 28
==============
The Team points :: 27
==============
The Team points :: 15
==============
The Team points :: 61
==============
The Team points :: 51
==============
The Team points :: 42
==============
The Team points :: 42
==============
The Team points :: 38
==============
The Team points :: 38
==============
The Team points :: 36
==============
The Team points :: 36
==============
The Team points :: 34
==============
The Team points :: 31
==============
The Team points :: 29
==============
The Team points :: 27
==============
The Team points :: 22
==============
The Team points :: 17
==============
The Team points :: 62
==============
The Team points :: 58
==============
The Team points :: 53
==============
The Team points :: 48
==============
The Team points :: 47
==============
The Team points :: 46
==============
The Team points :: 46
==============
The Team points :: 33
==============
The Team points :: 31
==============
The Team points :: 29
==============
The Team points :: 24
==============
The Team points :: 20
==============
The Team points :: 14
==============
The Team points :: 10
==============
The Team Next :: Leeds United
==============
The Team Next :: Liverpool
==============
The Team Next :: Everton
==============
The Team Next :: Aston Villa
==============
The Team Next :: Newcastle United
==============
The Team Next :: Manchester United
==============
The Team Next :: Brentford
==============
The Team Next :: Fulham
==============
The Team Next :: Bournemouth
==============
The Team Next :: Manchester City
==============
The Team Next :: Brighton and Hove Albion
==============
The Team Next :: Tottenham Hotspur
==============
The Team Next :: Southampton
==============
The Team Next :: Arsenal
==============
The Team Next :: Leicester City
==============
The Team Next :: Chelsea
==============
The Team Next :: West Ham United
==============
The Team Next :: Nottingham Forest
==============
The Team Next :: Wolverhampton Wanderers
==============
The Team Next :: Crystal Palace
==============

In [ ]:

# importing libraries
import pandas as pd
import glob
import os
  
# merging the files
joined_files = os.path.join("/home", "mydata*.csv")
  
# A list of all joined files is returned
joined_list = glob.glob(joined_files)
  
# Finally, the files are joined
df = pd.concat(map(pd.read_csv, joined_list), ignore_index=True)
print(df)

The Team Position ::
                                1

==============
The Team Position ::
                                2

==============
The Team Position ::
                                3

==============
The Team Position ::
                                5

==============
The Team Position ::
                                6

==============
The Team Position ::
                                7

==============
The Team Position ::
                                4

==============
The Team Position ::
                                13

==============
The Team Position ::
                                8

==============
The Team Position ::
                                9

==============
The Team Position ::
                                10

==============
The Team Position ::
                                11

==============
The Team Position ::
                                15

==============
The Team Position ::
                                12

==============
The Team Position ::
                                17

==============
The Team Position ::
                                14

==============
The Team Position ::
                                16

==============
The Team Position ::
                                18

==============
The Team Position ::
                                20

==============
The Team Position ::
                                19

==============
The Team Position ::
                                1

==============
The Team Position ::
                                2

==============
The Team Position ::
                                3

==============
The Team Position ::
                                4

==============
The Team Position ::
                                8

==============
The Team Position ::
                                5

==============
The Team Position ::
                                6

==============
The Team Position ::
                                7

==============
The Team Position ::
                                9

==============
The Team Position ::
                                10

==============
The Team Position ::
                                11

==============
The Team Position ::
                                13

==============
The Team Position ::
                                12

==============
The Team Position ::
                                14

==============

In [123]:
url = "https://www.premierleague.com/tables"
with open("Current_Team_Position.csv" , "w+") as f :
    writer = csv.DictWriter( f , fieldnames=["Current Team position"])
    writer.writeheader()
    res = R.get(url)
    soup = B(res.text , "html.parser")
    Current_position = soup.find_all("span" , attrs = {"class" :"value"})
    for cur_pos in Current_position :
        Current_team_posision = cur_pos.get_text()
        writer.writerow({"Current Team position" : Current_team_posision})
        print(f"The Current Team position :: {Current_team_posision}\n==============")

The Current Team position :: 1
==============
The Current Team position :: 2
==============
The Current Team position :: 3
==============
The Current Team position :: 4
==============
The Current Team position :: 5
==============
The Current Team position :: 6
==============
The Current Team position :: 7
==============
The Current Team position :: 8
==============
The Current Team position :: 9
==============
The Current Team position :: 10
==============
The Current Team position :: 11
==============
The Current Team position :: 12
==============
The Current Team position :: 13
==============
The Current Team position :: 14
==============
The Current Team position :: 15
==============
The Current Team position :: 16
==============
The Current Team position :: 17
==============
The Current Team position :: 18
==============
The Current Team position :: 19
==============
The Current Team position :: 20
==============
The Current Team position :: 1
==============
The Current Team position :: 2
==============
The Current Team position :: 3
==============
The Current Team position :: 4
==============
The Current Team position :: 5
==============
The Current Team position :: 6
==============
The Current Team position :: 7
==============
The Current Team position :: 8
==============
The Current Team position :: 9
==============
The Current Team position :: 10
==============
The Current Team position :: 11
==============
The Current Team position :: 12
==============
The Current Team position :: 13
==============
The Current Team position :: 14
==============
The Current Team position :: 1
==============
The Current Team position :: 2
==============
The Current Team position :: 3
==============
The Current Team position :: 4
==============
The Current Team position :: 5
==============
The Current Team position :: 6
==============
The Current Team position :: 7
==============
The Current Team position :: 8
==============
The Current Team position :: 9
==============
The Current Team position :: 10
==============
The Current Team position :: 11
==============
The Current Team position :: 12
==============
The Current Team position :: 13
==============
The Current Team position :: 14
==============
The Current Team position :: 1
==============
The Current Team position :: 2
==============
The Current Team position :: 3
==============
The Current Team position :: 4
==============
The Current Team position :: 5
==============
The Current Team position :: 6
==============
The Current Team position :: 7
==============
The Current Team position :: 8
==============
The Current Team position :: 9
==============
The Current Team position :: 10
==============
The Current Team position :: 11
==============
The Current Team position :: 12
==============
The Current Team position :: 13
==============
The Current Team position :: 14
==============

In [ ]:
url = "https://www.premierleague.com/tables"
with open("Current_Team_Position.csv" , "w+") as f :
    writer = csv.DictWriter( f , fieldnames=["position"])
    writer.writeheader()
    res = R.get(url)
    soup = B(res.text , "html.parser")
    position = soup.find_all("td" , attrs = {"class" : "pos button-tooltip"})
    for pos in position :
        team_posision = pos.find("span" , attrs = {"class" :"value"}).get_text()
        writer.writerow({"position" : team_posision})
        print(f"The Team Position :: {team_posision}\n==============")

In [116]:

#=================================================================================================
with open("Team_Name.csv" , "w+") as f :
    writer = csv.DictWriter( f , fieldnames=[ "Team_Name" ])
    writer.writeheader()
    res = R.get(url)
    soup = B(res.text , "html.parser")
    Name = soup.find_all("td" , attrs = {"class" : "team"})
    for N in Name :
        team_name = N.find("span" ,  attrs = {"class" : "long"}).get_text().strip()
        writer.writerow({"Team_Name" : team_name})
        print(f"The Team Name :: {team_name}\n==============")
#=================================================================================================
with open("Team_Points.csv" , "w+") as f :
    writer = csv.DictWriter( f , fieldnames=["Points"])
    writer.writeheader()
    res = R.get(url)
    soup = B(res.text , "html.parser")
    point = soup.find_all("td" , attrs = {"class" : "points"})  
    for pt in point :
        team_points = pt.get_text()
        writer.writerow({"Points" : team_points})
        print(f"The Team points :: {team_points}\n==============")
#=================================================================================================        
with open("Team_Next.csv" , "w+") as f :
    writer = csv.DictWriter( f , fieldnames=["Next_team"])
    writer.writeheader()
    res = R.get(url)
    soup = B(res.text , "html.parser")
    Next_Matcch = soup.find_all("span" , attrs = {"class" : "nextMatch"})    
    for Next in Next_Matcch :
        team_Next = Next.find("span" , attrs = {"class" : "visuallyHidden"}).get_text()
        writer.writerow({"Next_team" : team_Next})
        print(f"The Team Next :: {team_Next}\n==============")
df0 = pd.read_csv("Team_Position.csv")
df1 = pd.read_csv("Team_Name.csv")
df2 = pd.read_csv("Team_Points.csv")
df3 = pd.read_csv("Team_Next.csv")

The Team Position ::
                                1

==============
The Team Position ::
                                2

==============
The Team Position ::
                                3

==============
The Team Position ::
                                5

==============
The Team Position ::
                                6

==============
The Team Position ::
                                7

==============
The Team Position ::
                                4

==============
The Team Position ::
                                13

==============
The Team Position ::
                                8

==============
The Team Position ::
                                9

==============
The Team Position ::
                                10

==============
The Team Position ::
                                11

==============
The Team Position ::
                                15

==============
The Team Position ::
                                12

==============
The Team Position ::
                                17

==============
The Team Position ::
                                14

==============
The Team Position ::
                                16

==============
The Team Position ::
                                18

==============
The Team Position ::
                                20

==============
The Team Position ::
                                19

==============
The Team Position ::
                                1

==============
The Team Position ::
                                2

==============
The Team Position ::
                                3

==============
The Team Position ::
                                4

==============
The Team Position ::
                                8

==============
The Team Position ::
                                5

==============
The Team Position ::
                                6

==============
The Team Position ::
                                7

==============
The Team Position ::
                                9

==============
The Team Position ::
                                10

==============
The Team Position ::
                                11

==============
The Team Position ::
                                13

==============
The Team Position ::
                                12

==============
The Team Position ::
                                14

==============
The Team Name :: Arsenal
==============
The Team Name :: Manchester City
==============
The Team Name :: Tottenham Hotspur
==============
The Team Name :: Chelsea
==============
The Team Name :: Manchester United
==============
The Team Name :: Newcastle United
==============
The Team Name :: Brighton and Hove Albion
==============
The Team Name :: Bournemouth
==============
The Team Name :: Fulham
==============
The Team Name :: Liverpool
==============
The Team Name :: Brentford
==============
The Team Name :: Everton
==============
The Team Name :: West Ham United
==============
The Team Name :: Leeds United
==============
The Team Name :: Crystal Palace
==============
The Team Name :: Aston Villa
==============
The Team Name :: Southampton
==============
The Team Name :: Wolverhampton Wanderers
==============
The Team Name :: Nottingham Forest
==============
The Team Name :: Leicester City
==============
The Team Name :: Manchester City
==============
The Team Name :: West Ham United
==============
The Team Name :: Arsenal
==============
The Team Name :: Liverpool
==============
The Team Name :: Crystal Palace
==============
The Team Name :: Manchester United
==============
The Team Name :: Tottenham Hotspur
==============
The Team Name :: Leicester City
==============
The Team Name :: Blackburn Rovers
==============
The Team Name :: Brighton and Hove Albion
==============
The Team Name :: Everton
==============
The Team Name :: Chelsea
==============
The Team Name :: Leeds United
==============
The Team Name :: Derby County
==============
The Team Name :: Manchester City
==============
The Team Name :: Liverpool
==============
The Team Name :: Manchester United
==============
The Team Name :: Nottingham Forest
==============
The Team Name :: Blackburn Rovers
==============
The Team Name :: Middlesbrough
==============
The Team Name :: Burnley
==============
The Team Name :: Wolverhampton Wanderers
==============
The Team Name :: Leeds United
==============
The Team Name :: Everton
==============
The Team Name :: Sunderland
==============
The Team Name :: Derby County
==============
The Team Name :: Stoke City
==============
The Team Name :: Newcastle United
==============
The Team Name :: Southampton
==============
The Team Name :: West Ham United
==============
The Team Name :: Crystal Palace
==============
The Team Name :: Arsenal
==============
The Team Name :: Leicester City
==============
The Team Name :: Fulham
==============
The Team Name :: Chelsea
==============
The Team Name :: Brighton and Hove Albion
==============
The Team Name :: Tottenham Hotspur
==============
The Team Name :: West Bromwich Albion
==============
The Team Name :: Reading
==============
The Team Name :: Aston Villa
==============
The Team Name :: Birmingham City
==============
The Team Name :: Norwich City
==============
The Team points :: 24
==============
The Team points :: 23
==============
The Team points :: 20
==============
The Team points :: 16
==============
The Team points :: 15
==============
The Team points :: 14
==============
The Team points :: 14
==============
The Team points :: 12
==============
The Team points :: 11
==============
The Team points :: 10
==============
The Team points :: 10
==============
The Team points :: 10
==============
The Team points :: 10
==============
The Team points :: 9
==============
The Team points :: 9
==============
The Team points :: 9
==============
The Team points :: 7
==============
The Team points :: 6
==============
The Team points :: 5
==============
The Team points :: 4
==============
The Team points :: 54
==============
The Team points :: 48
==============
The Team points :: 41
==============
The Team points :: 40
==============
The Team points :: 39
==============
The Team points :: 39
==============
The Team points :: 37
==============
The Team points :: 37
==============
The Team points :: 35
==============
The Team points :: 34
==============
The Team points :: 29
==============
The Team points :: 28
==============
The Team points :: 27
==============
The Team points :: 15
==============
The Team points :: 61
==============
The Team points :: 51
==============
The Team points :: 42
==============
The Team points :: 42
==============
The Team points :: 38
==============
The Team points :: 38
==============
The Team points :: 36
==============
The Team points :: 36
==============
The Team points :: 34
==============
The Team points :: 31
==============
The Team points :: 29
==============
The Team points :: 27
==============
The Team points :: 22
==============
The Team points :: 17
==============
The Team points :: 62
==============
The Team points :: 58
==============
The Team points :: 53
==============
The Team points :: 48
==============
The Team points :: 47
==============
The Team points :: 46
==============
The Team points :: 46
==============
The Team points :: 33
==============
The Team points :: 31
==============
The Team points :: 29
==============
The Team points :: 24
==============
The Team points :: 20
==============
The Team points :: 14
==============
The Team points :: 10
==============

The Team Next :: Leeds United
==============
The Team Next :: Liverpool
==============
The Team Next :: Everton
==============
The Team Next :: Aston Villa
==============
The Team Next :: Newcastle United
==============
The Team Next :: Manchester United
==============
The Team Next :: Brentford
==============
The Team Next :: Fulham
==============
The Team Next :: Bournemouth
==============
The Team Next :: Manchester City
==============
The Team Next :: Brighton and Hove Albion
==============
The Team Next :: Tottenham Hotspur
==============
The Team Next :: Southampton
==============
The Team Next :: Arsenal
==============
The Team Next :: Leicester City
==============
The Team Next :: Chelsea
==============
The Team Next :: West Ham United
==============
The Team Next :: Nottingham Forest
==============
The Team Next :: Wolverhampton Wanderers
==============
The Team Next :: Crystal Palace
==============

In [109]:
df2

    Points
0       24
1       23
2       20
3       16
4       15
..     ...
57      29
58      24
59      20
60      14
61      10

[62 rows x 1 columns]

In [114]:
df0["Next_team"].fillna("Un_available" , inplace=True)

In [115]:
df0

    position                 Team_Name                 Next_team  Points
0          1                   Arsenal              Leeds United      24
1          2           Manchester City                 Liverpool      23
2          3         Tottenham Hotspur                   Everton      20
3          4                   Chelsea               Aston Villa      16
4          5         Manchester United          Newcastle United      15
5          6          Newcastle United         Manchester United      14
6          7  Brighton and Hove Albion                 Brentford      14
7          8               Bournemouth                    Fulham      12
8          9                    Fulham               Bournemouth      11
9         10                 Liverpool           Manchester City      10
10        11                 Brentford  Brighton and Hove Albion      10
11        12                   Everton         Tottenham Hotspur      10
12        13           West Ham United               Southampton      10
13        14              Leeds United                   Arsenal       9
14        15            Crystal Palace            Leicester City       9
15        16               Aston Villa                   Chelsea       9
16        17               Southampton           West Ham United       7
17        18   Wolverhampton Wanderers         Nottingham Forest       6
18        19         Nottingham Forest   Wolverhampton Wanderers       5
19        20            Leicester City            Crystal Palace       4
20         1           Manchester City              Un_available      54
21         2           West Ham United              Un_available      48
22         3                   Arsenal              Un_available      41
23         4                 Liverpool              Un_available      40
24         5            Crystal Palace              Un_available      39
25         6         Manchester United              Un_available      39
26         7         Tottenham Hotspur              Un_available      37
27         8            Leicester City              Un_available      37
28         9          Blackburn Rovers              Un_available      35
29        10  Brighton and Hove Albion              Un_available      34
30        11                   Everton              Un_available      29
31        12                   Chelsea              Un_available      28
32        13              Leeds United              Un_available      27
33        14              Derby County              Un_available      15

In [112]:
df0["Points" ] = df2["Points"]
df0["Next_team"] =df3["Next_team"]
df0["Next_team"].fillna("Un_available")

    position                 Team_Name                 Next_team  Points
0          1                   Arsenal              Leeds United      24
1          2           Manchester City                 Liverpool      23
2          3         Tottenham Hotspur                   Everton      20
3          4                   Chelsea               Aston Villa      16
4          5         Manchester United          Newcastle United      15
5          6          Newcastle United         Manchester United      14
6          7  Brighton and Hove Albion                 Brentford      14
7          8               Bournemouth                    Fulham      12
8          9                    Fulham               Bournemouth      11
9         10                 Liverpool           Manchester City      10
10        11                 Brentford  Brighton and Hove Albion      10
11        12                   Everton         Tottenham Hotspur      10
12        13           West Ham United               Southampton      10
13        14              Leeds United                   Arsenal       9
14        15            Crystal Palace            Leicester City       9
15        16               Aston Villa                   Chelsea       9
16        17               Southampton           West Ham United       7
17        18   Wolverhampton Wanderers         Nottingham Forest       6
18        19         Nottingham Forest   Wolverhampton Wanderers       5
19        20            Leicester City            Crystal Palace       4
20         1           Manchester City                       NaN      54
21         2           West Ham United                       NaN      48
22         3                   Arsenal                       NaN      41
23         4                 Liverpool                       NaN      40
24         5            Crystal Palace                       NaN      39
25         6         Manchester United                       NaN      39
26         7         Tottenham Hotspur                       NaN      37
27         8            Leicester City                       NaN      37
28         9          Blackburn Rovers                       NaN      35
29        10  Brighton and Hove Albion                       NaN      34
30        11                   Everton                       NaN      29
31        12                   Chelsea                       NaN      28
32        13              Leeds United                       NaN      27
33        14              Derby County                       NaN      15

In [106]:
df1

               Team_Name
0                Arsenal
1        Manchester City
2      Tottenham Hotspur
3                Chelsea
4      Manchester United
..                   ...
57  West Bromwich Albion
58               Reading
59           Aston Villa
60       Birmingham City
61          Norwich City

[62 rows x 1 columns]

In [101]:
import pandas as pd




# Rename the columns of b.csv that should match the ones in a.csv
dfB = dfB.rename(columns={'position': 'HEIGHT', 'Team_Name': 'LOCATION'})

# Merge on all common columns
df = pd.merge(dfA, dfB, on=list(set(dfA.columns) & set(dfB.columns)), how='outer')

# Only keep the columns that exists in a.csv
df = df[dfA.columns]

# Save to a new csv
df.to_csv("output.csv", index=False)

ValueError: not enough values to unpack (expected 3, got 0)

In [98]:
pd.read_csv("output.csv")

               Team_Name
0                Arsenal
1        Manchester City
2      Tottenham Hotspur
3                Chelsea
4      Manchester United
..                   ...
57  West Bromwich Albion
58               Reading
59           Aston Villa
60       Birmingham City
61          Norwich City

[62 rows x 1 columns]

In [84]:
dd = pd.read_csv(df0 , index_col=None)
dd.drop()

NameError: name 'df0' is not defined

In [77]:
dd[["position"]] = dd[["position"]].dropna()

In [79]:
dd[["position"]]

     position
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
..        ...
173       NaN
174       NaN
175       NaN
176       NaN
177       NaN

[178 rows x 1 columns]

In [76]:
dd[["Unnamed: 0","position","Team_Name" , "Points" , "Points"]] = dd[["Unnamed: 0" , "position","Team_Name" , "Points" , "Points"]].dropna()

ValueError: Columns must be same length as key

In [54]:

import pandas as pd
  
# reading csv files
data1 = pd.read_csv('datasets/loan.csv')
data2 = pd.read_csv('datasets/borrower.csv')
  
# using merge function by setting how='outer'
output4 = pd.merge(data1, data2, 
                   on='', 
                   how='outer')
  
# displaying result
print(output4)

FileNotFoundError: [Errno 2] No such file or directory: 'datasets/loan.csv'

In [45]:

def AAddGet_FX_Factory_data(url) :
    with open("FX_Factory_Data.csv" , "w+") as f :
        writer = csv.DictWriter( f , fieldnames=["position" , "Team_Name" ,"Points"])
        writer.writeheader()
        res = R.get(url)
        soup = B(res.text , "html.parser")
        Date = soup.find("div" , attrs = {"class" : "day"}).get_text()
        print(Date)
        #Name = soup.find_all("td" , attrs = {"class" : "team"})
        #point = soup.find_all("td" , attrs = {"class" : "points"})
        #Next_Matcch = soup.find_all("span" , attrs = {"class" : "nextMatch"})

    """    
        for N in Name :
            team_name = N.find("span" ,  attrs = {"class" : "long"}).get_text().strip()
            #team_points = pt.find("td" , attrs = {"class" :"points"}).get_text()
            print(f"The Team Name :: {team_name}\n==============")
            
        for pt in point :
            team_points = pt.get_text()
            #team_points = pt.find("td" , attrs = {"class" :"points"}).get_text() visuallyHidden
            print(f"The Team points :: {team_points}\n==============")
        for Next in Next_Matcch :
            team_Next = Next.find("span" , attrs = {"class" : "visuallyHidden"}).get_text()
            #team_points = pt.find("td" , attrs = {"class" :"points"}).get_text() visuallyHidden
            print(f"The Team Next :: {team_Next}\n==============")
"""

In [46]:
AAddGet_FX_Factory_data("https://www.premierleague.com/")

AttributeError: 'NoneType' object has no attribute 'get_text'